[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
psycopg2-binary = "*"
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-camel-case = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8"

[scripts]
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
runserver = "python manage.py runserver"
shell_plus = "python manage.py shell_plus"
